<div class="app-main-container">
  <div class="app-header">
    <app-header ></app-header>
  </div>
  <div class="app-body panel-container">
    <router-outlet></router-outlet>
  </div>
  <div class="app-footer">
    <app-footer></app-footer>
  </div>
</div>